:root {
   --azul: #560bad;
   --rosa: #f72585;
   --rojo: #D90429;
   --blanco:#EDF2F4;
   --violetaoscuro:#7209b7;
   --violeta: #b5179e;
   --negro: #252a34;
   --azul3:#b100e8;


}

html::-webkit-scrollbar {
   width: 8px;
   background: #fff;
   height: 100%;
 
}

html::-webkit-scrollbar-thumb {
   width: 8px;
   background: var(--violeta);
   border-radius: 5px;
   height: 30%;
   transform: scale(2);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   overflow-x: hidden;
   color : #fff;
   font-family: 'Raleway', sans-serif;
}

/*Menu de navegación*/

#header {
   position: relative;
   width: 100%;
}

.logo-nav {
 width: 100%;
}


.menu {
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   height: 80px;
   background-color: #fff;

   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 9999;
}

.menu .logo-box {
   margin-left: 20px;
}

.menu .logo-box h1 a {
   text-decoration: none;
   font-size: 35px;
   font-weight: 400mp;
   color:var(--negro);
}

.menu .list-container {
   margin-right: 20px;
}

.menu .list-container .lists {
   display: flex;
}

.menu .list-container .lists li {
   list-style: none;
}

.menu .list-container .lists a {
   text-decoration: none;
   margin: 0 10px;
   padding: 8px;
   color: var(--negro);
   border-radius: 24px;
   font-size: 16px;
   transition: 0.2s;
}

.menu .list-container .lists a.activo{
   background: var(--rosa);
   color: var(--blanco);
}

.menu .list-container .lists a:hover {
   background: var(--violeta);
   color: var(--blanco);
}

.btn-menu .fa-bars {
   display: none;

}

.container-tecnologias {
   width: 100%;
   margin-top: 50px;
   background-color: #fff;
}

.banner {
   display: flex;
   height: 350px;
   width: 100%;
}

.banner-item {
   background-color: var(--rosa);
   flex: 1;
   color: rgba(255, 255, 255, 0);
   font-size: 0.5px;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all 0.5s;
   text-align: center;
}
.banner-item i{
   font-size: 100px;
}

.banner-item:hover {
   flex-grow: 8;
   cursor: pointer;
   color: var(--blanco);
   font-size: 40px;
}

.banner-txt {
   margin: 0;
}

.banner-item:hover .banner-txt {
   transform: rotate(0);
}

.banner-item:nth-child(1) {
   background-color: var(--azul);
}

.banner-item:nth-child(2) {
   background-color: var(--violetaoscuro);
}

.banner-item:nth-child(3) {
   background-color: var(--azul3);
}

.banner-item:nth-child(4) {
   background-color: var(--violeta);
}



/*img header*/
.img-header {
   position: relative;
   width: 100%;
   height: 100vh;
   background: url(img/NippyExhaustedAsiaticmouflon-size_restricted.gif);
   background-attachment: fixed;
   background-position: center;
   background-size:cover;
}

.img-header .inicio {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.6);

   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.img-header .inicio h1 {
   font-size: 50px;
   color: var(--blanco);
   font-weight: 200;

}

.img-header .inicio hr {
   width: 50%;
   height: 2px;
   background: var(--blanco);
   border: none;
   margin-top: 5px;
}

.img-header .inicio p {
   color: var(--blanco);
   font-size: 20px;
   margin-top: 20px;
}

.img-header .inicio button {
   width: 170px;
   height: 40px;
   background: var(--violeta);
   border-radius: 24px;
   border:none;
   outline: none;
   font-size: 22px;
   color: var(--blanco);
   text-align: center;
   margin-top: 20px;
   cursor: pointer;
   transition: 0.5s;
}

.img-header .inicio button:hover {
   background: var(--azul3);
}


/*Proyectos*/
.proyectos {
   position: relative;
   width: 100%;
   height: 100%; 
   background: url(img/NippyExhaustedAsiaticmouflon-size_restricted.gif);
   background-attachment:fixed;
   background-position: bottom;
   background-size: cover;
   margin-top: 100px;
}

.proyectos .deg-background {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.6);
}

.proyectos .ejeZproject {
   position: relative;
   width: 100%;
   height: 100%;
}
.proyectos .container-project {
   width: 90%;
   margin: auto;
   padding-top: 100px;
}

.proyectos .container-project .project-title {
   border: 2px var(--blanco);
   width: 50%;
   margin: auto;
   text-align: center;
   padding: 10px;
}

.proyectos .container-project .project-title h2 {
   font-size: 40px;
   color: var(--blanco);
   font-weight: normal;
}

.proyectos .container-project .project-title hr {
   background: var(--blanco);
   width: 50%;
   margin: 10px auto;
}

.proyectos .container-project .project-img {
   width: 100%;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin-top: 80px;
   padding-bottom: 100px;
}

.proyectos .container-project .project-img img {
   width: 30%;
   margin:10px;
   object-fit: cover;
   border-radius: 10px;
   cursor: pointer;
}

.proyectos .container-project .project-img img:hover {
   transform: scale(1.02);
   width: 30%;
   transition: 0.4s;
}

/*Acerca de mí*/
.acerca {
   width: 100%;
   margin-top: 120px;
   margin-bottom: 0;

}

.acerca .titulo-acerca {
   width: 50%;
   margin: auto;
   text-align: center;
}

.acerca .titulo-acerca h2 {
   font-size: 50px;
   color:rgb(44, 41, 41);
   font-weight: normal;
   margin-bottom: 10px;
}

.acerca .titulo-acerca hr {
   width: 50%;
   margin: auto;
   height: 2px;
   background: rgb(44, 41, 41);
   border: none;
}

.acerca .box-acerca {
   width: 100%;
   margin: 80px auto;
   height: 30%;

   display: flex;
   justify-content: center;
   flex-wrap: row wrap;
}

.acerca .box-acerca .card-acerca {
   width:100%;
   margin: 20px;
   display: flex;
   flex-flow: row wrap; 
   justify-content: space-between;
   margin-top:0;
}

.acerca .box-acerca .card-acerca .card-img {
   width: 30%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.acerca .box-acerca .card-acerca .card-img img {
   width: 350px;
   object-fit: cover;
   padding-bottom: 30px;
}

.acerca .box-acerca .card-acerca .acerca-text {
   width: 70%;
   padding:20px;
   margin-top: 0px;
   
}

.acerca .box-acerca .card-acerca .acerca-text h4 {
   color: var(--violeta);
   font-weight: normal;
   font-size: 27px;
   text-align: justify;
   margin-bottom: 20px;
   transition: 200ms;
}

.acerca .box-acerca .card-acerca .acerca-text p {
   font-size: 19px;
   color: var(--negro);
   text-align: justify;
   line-height: 35px;
   transition: 200ms;
   margin: 50px;
   width: 90%;
   margin-top: 0;
}

.acerca .col img{
   margin: 20px;
   padding: 30px;
   max-width: 100%;
}

.container-tecnologias h4 {
   color: rgb(44, 41, 41);
   text-align: center;
   margin: 30px;
}

.box-acerca .card-acerca .container  {
  display: flex;
  flex-direction: row;
  flex-wrap: row wrap;
  width: 100%;
  justify-content: space-evenly;
  border: 5px solid red;
  flex-flow: row wrap;
  margin: 0px
  
}

.row.align-items-center {
   width: 100%;
   margin: 0;
   
}

.box-acerca .card-acerca .container .col {
   padding: 30px;
}

section.micv {
   width: 100%;
   margin: 80px auto;
   height: 30%;

   display: flex;
   justify-content: space-evenly;
   align-content: center;
   flex-wrap: row wrap;
   
}

.micv h2 {
   color: var(--negro);
   text-align: center;
}

.micv hr {
   background: var(--negro);
   width: 20%;
   margin: 10px auto;
}

.micv img {
   height: 500px;
}

.boton {
   color: var(--negro);
   width: 30%;
   display: flex;
   flex-flow: column wrap;
   align-items: center;
   margin-top: 180px;
   font-size: 24px;
   text-align: center;
}

.boton .botoncvv{
   width: 250px;
   height: 50px;
   background: var(--violeta);
   border-radius: 24px;
   border:none;
   outline: none;
   font-size: 22px;
   color: var(--blanco);
   text-align: center;
   margin-top: 20px;
   cursor: pointer;
   transition: 0.5s;
   padding-top: 7px;
}

.cv {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-evenly;
}

.boton .botoncvv:hover {
   background: var(--violetaoscuro);
   text-decoration: none;
}

.botoncvv a {
   text-decoration: none;
}

.footer {
   position: relative;
   width: 100%;
   height: auto;
   background: url(img/NippyExhaustedAsiaticmouflon-size_restricted.gif);
   background-attachment: fixed;
   background-position: initial;
   background-size: cover;
}

.footer .deg-footer {
   position: absolute;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.6);
}

.footer .ejeZfooter {
   position: relative;
   width: 100%;
   height: 100%;
}

.footer .footer-content {
   widht:90px;
   padding-top: 100px;
   margin: auto;

}

.footer .footer-content .footer-title {
   width: 50%;
   margin: auto;
   border: 2px #ffffff;
   padding: 20px;
}

.footer .footer-content .footer-title h2 {
   text-align: center; color: var(--blanco);
   font-size: 35px ;
   font-weight: 400;
   text-align: center;
}

.footer .footer-content .footer-title hr {
   width: 50%;
   margin: 20px auto;
   background-color: var(--blanco);
}

.footer .footer-content .formulario-content {
   width: 50%;
   height: 350px;
   background-color: var(--blanco);
   border-radius: 20px;
   margin: 50px auto;
   border: 2px solid var(--violeta);
   padding: 30px;
}

.footer .footer-content .formulario-content #formulario {
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.footer .footer-content .formulario-content #formulario input {
   width: 80%;
   height: 35px;
   margin: auto;
   border: 2px solid var(--violeta);
   border-radius: 15px;
   outline: none;
   text-align: center;
   padding: 0;
   font-size: 15px;
   margin: 15px 50px;
}

.footer .footer-content .formulario-content #formulario textarea {
   width: 80%;
   height: 110px;
   margin: auto;
   border: 2px solid var(--violeta);
   border-radius: 20px;
   outline: none;
   text-align: center;
   padding: 0;
   font-size: 15px;
   margin: 10px 50px;
}

.footer .footer-content .formulario-content #formulario .send button {
   width: 150px;
   height: 30px;
   background: var(--violeta);
   border-radius: 20px;
   border: none;
   outline: none;
   font-size: 22px;
   color: var(--blanco);
   text-align: center;
   margin-top: 5px;
   cursor: pointer;
   transition: 0.5s;
   margin-bottom: 10px;
}

.footer .footer-content .formulario-content #formulario .send button:hover {
   background: var(--violetaoscuro);
}

.footer .footer-content .formulario-content #formulario .send {
   display: flex;
   justify-content: center;
}

.footer-text {
   display: flex;
   justify-content: center;
}

.skew-abajo {
   position: absolute;
   bottom: 0;
   left: 0;
   border-width: 0 0 10vh 100vw;
   border-style: solid;
   border-color: transparent transparent #fff transparent;
}

.skew-arriba{
   position: absolute;
  top: 0;
  left: 0;
  border-width: 10vh 100vw 0 0;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  z-index: 10;
}

@media only screen and (max-width: 900px) {
   btn-menu > fa-bars {
      display: block;
      position: absolute;
      top: 20px; 
      right: 30px;
      font-size: 28px;
   }
   menu list-container {
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      height: calc(100vh - 60px);
      background: var(--blanco);

   }

   hr{
      padding-left: 5px;
      width: 30%;
   }
   
   p , h1 , a {
      text-align: center;
   }

   #user {
      margin: 0;
   }

   .formulario-content {
      display: flex;
      justify-content: center;

   }
   
.menu {
   width: 50px;
   height: 10px;
   position: absolute;
   top: 0.2%;
   right: 3%;
   font-family: sans-serif;
   margin-top: 2%;
   padding:3px 9px 7px 3px;
   border-radius: 32%;
   font-size: 38px;
   color:var(--violetaoscuro);
   text-align: end;
   transition: right 0.7s;
   justify-content: center;
}